<mat-card>
  <mat-card-header>
    <mat-card-title>{{ student.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ student.id }}</mat-card-subtitle>
  </mat-card-header>

  <!--TODO: imagen-->
  <img mat-card-image [src]=" student | studentImage" [alt]="student.id">

  <mat-card-content class="mt-2">
    <h4>{{ student.nombre }}</h4>
    <p>
      <strong>Número de Id:</strong>{{ student.id }}
      <br>
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button
      mat-raised
      color="primary"
      [routerLink]="['/institute/editStudent',student.id]">
    <mat-icon>edit</mat-icon>
    Editar
    </button>
    <span class="spacer"></span>
    <button mat-button
      mat-raised
      [routerLink]="['/institute/detailStudent',student.id]">
      <mat-icon>more_horiz</mat-icon>
      Más...
    </button>
  </mat-card-actions>
</mat-card>
