<h3>Listado de Notas</h3>
<mat-divider></mat-divider>

<div class="table-container">

  <table mat-table [dataSource]="paginatedScores" class="scores-table">

    <!-- ID -->
    <ng-container matColumnDef="id">

      <th mat-header-cell *matHeaderCellDef>
        ID
      </th>

      <td mat-cell *matCellDef="let score">
        {{ score.id }}
      </td>

    </ng-container>


    <!-- Nombre -->
    <ng-container matColumnDef="Asignatura">

      <th mat-header-cell *matHeaderCellDef>
        Asignatura
      </th>

      <td mat-cell *matCellDef="let score">
        {{ score.nombre }}
      </td>

    </ng-container>


    <!-- Estudiante -->
    <ng-container matColumnDef="Estudiante">

      <th mat-header-cell *matHeaderCellDef>
        Estudiante
      </th>

      <td mat-cell *matCellDef="let score">
        {{ score.estudiante }}
      </td>

    </ng-container>


    <!-- Profesor -->
    <ng-container matColumnDef="Profesor">

      <th mat-header-cell *matHeaderCellDef>
        Profesor
      </th>

      <td mat-cell *matCellDef="let score">
        {{ score.profesor }}
      </td>

    </ng-container>


    <!-- Valor -->
    <ng-container matColumnDef="valor">

      <th mat-header-cell *matHeaderCellDef>
        Valor
      </th>

      <td mat-cell *matCellDef="let score">
        {{ score.valor }}
      </td>

    </ng-container>


    <!-- Acciones -->
    <ng-container matColumnDef="acciones">

      <th mat-header-cell *matHeaderCellDef>
        Acciones
      </th>

      <td mat-cell *matCellDef="let score">

        <button
          mat-icon-button
          color="primary"
          aria-label="Editar nota"
           [routerLink]="['/institute/editScore',score.id]">

          <mat-icon>edit</mat-icon>

        </button>

        <button
        mat-icon-button
          color="primary"
          aria-label="Ver detalles"
        [routerLink]="['/institute/detailScore',score.id]">
            <mat-icon>visibility</mat-icon>

        </button>

        <!-- <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Más opciones">

          <mat-icon>more_vert</mat-icon>

        </button> -->


        <!-- <mat-menu #menu="matMenu">

          <button mat-menu-item>
            <mat-icon>visibility</mat-icon>
            <span>Ver detalle</span>
          </button>

          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>

        </mat-menu> -->

      </td>

    </ng-container>


    <!-- Header -->
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns">
    </tr>


    <!-- Filas -->
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

</div>


<!-- Paginación -->

<div class="paginator-container">

  <mat-paginator
    [length]="scores.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[6, 12, 24]"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>

</div>


