.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.scores-table {
  width: 100%;
}

.paginator-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
