<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="score; else divLoading" class="grid p-2">


    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
          <mat-card-title>Información de la Nota</mat-card-title>
          <mat-card-subtitle>{{ score.nombre }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item>Id: {{ score.id }}</mat-list-item>
            <mat-list-item>Asignatura: {{ score.nombre }}</mat-list-item>
            <mat-list-item>Valor: {{ score.valor }}</mat-list-item>
            <mat-list-item>Estudiante: {{ score.estudiante }}</mat-list-item>
            <mat-list-item>Profesor: {{ score.profesor }}</mat-list-item>
          </mat-list>

          <button
            mat-button
            color="warn"
            (click)="goBack()"
          >
            Regresar
          </button>
        </mat-card-content>

    </mat-card>
</div>

