<h4>
  {{ currentScore.nombre ? 'Editar' : 'Agregar'}}
  Nota
  <small *ngIf="currentScore.nombre">{{ currentScore.nombre }}</small>
</h4>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="scoreForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Asignatura</mat-label>
             <input
             matInput
             type="text"
             required
             formControlName ="nombre"
             />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Valor</mat-label>
             <input
             matInput
             type="text"
             required
             formControlName ="valor"
             />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Estudiante</mat-label>
            <mat-select formControlName="idEstudiante">
              <mat-option
                *ngFor="let student of students"
                [value]="student.id">
                {{ student.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Profesor</mat-label>
            <mat-select formControlName="idProfesor">
              <mat-option
                *ngFor="let professor of professors"
                [value]="professor.id">
                {{ professor.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <div class="flex justify-content-between">
          <button
            *ngIf="currentScore.nombre"
            (click)="onConfirmDeletion()"
            mat-flat-button
            color="warn">
              Borrar
          </button>
          <span></span>

          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()">
          <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--<div class="col-12 sm:col-6">
        <mat-card>
          <img [src]=" currentScore | scoreImage" alt="imagen de la nota?" mat-card-image>
        </mat-card>
  </div>-->

</div>


